name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: OTP ${{ matrix.otp }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    # https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategymatrix
    strategy:
      matrix:
        otp: [26, 27, 28]
        os: [ubuntu-latest]

    steps:
      - name: CHECKOUT REPOSITORY
        uses: actions/checkout@v4

      - name: CONFIGURE OTP
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}

      - name: XREF
        run: make xref

      - name: DIALYZE
        run: make dialyze

      - name: INTEGRATION TEST
        run: make ct
